@import "color";

.design {
  padding-top: 120px;

  &__info {
    max-width: 486px;
  }

  &__title {
    padding-bottom: 22px;
  }

  &__subtitle {
    &:nth-child(1) {
      padding-bottom: 3px;
    }

    &:nth-child(3) {
      padding-bottom: 30px;
    }

    &:nth-child(4), &:nth-child(6), &:nth-child(8) {
      padding-bottom: 12px;
    }

    &:nth-child(5), &:nth-child(7) {
      padding-bottom: 25px;
    }
  }

  &__img {
    text-align: right;

    img {
      width: 100%;
    }
  }
}
