@import "color";

@media screen and (max-width: 1160px) {
  .strategies {
    .slider {
      .slider__track {
        .slide {
          &:nth-child(3n+3) {
            margin-right: 0;
          }
        }
      }
    }
  }

}

@media screen and (max-width: 1024px) {
  .design, .managers, .marketers {
    &__img {
      img {
        width: 80%;
      }
    }
  }
}

@media screen and (max-width: 880px) {
  .header {
    .menu {
      position: fixed;
      padding-top: 30px;
      width: 100%;
      height: 100%;
      top: 92px;
      left: -100%;
      background-color: $black;

      &__list {
        flex-direction: column;

        &-item {
          padding: 10px 0;
          margin: 0;
          width: 100%;
          text-align: center;
        }

        &-link {
          color: $white;
        }
      }

      &.active {
        left: 0;
      }
    }

    .menu-btn {
      display: block;
    }
  }

  .get-started {
    &__img {
      display: none;
    }
  }

  .tools {
    &__inner {
      &:before {
        border-radius: 60% 60% 50% 50% / 40% 40% 0 0;
      }
    }

    &__items {
      flex-wrap: wrap;
      padding-bottom: 4px;
    }

    &__item {
      margin-bottom: 30px;
    }
  }

  .hero {
    &__inner {
      & img:nth-of-type(1) {
        top: 30px;
        left: 0;
      }

      & img:nth-of-type(2) {
        right: 115px;
        top: 0;
      }

      & img:nth-of-type(3) {
        bottom: 155px;
        left: 0;
      }

      & img:nth-of-type(4) {
        bottom: 0;
        left: 150px;
      }

      & img:nth-of-type(5) {
        bottom: 90px;
        right: 60px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .design, .managers, .marketers {
    &__info {
      max-width: 100%;
    }

    &__img {
      display: none;
    }
  }

  .hero {
    &__inner {
      & img:nth-of-type(1) {
        top: 0;
        left: 50px;
      }

      & img:nth-of-type(3) {
        bottom: 50px;
        left: 0;
      }

      & img:nth-of-type(2), & img:nth-of-type(4) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    &__inner {
      flex-direction: column;
      align-items: flex-start;

      .menu {
        top: 142px;
      }

      .btn-group {
        margin: 10px 0 0;
        width: 100%;

        .btn {
          width: 50%;
          text-align: center;
        }
      }
    }
  }

  .get-started {
    &__info {
      .title {
        font-size: 36px;
      }

      .subtitle {
        font-size: 16px;
      }
    }
  }

  .tools {
    &__inner {
      padding-bottom: 50px;

      &:before {
        border-radius: 90% 90% 50% 50% / 30% 32% 0 0;
      }
    }

    &__items {
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
    }
  }

  .hero {
    &__inner {
      padding: 0;

      & img:nth-of-type(1), & img:nth-of-type(3), & img:nth-of-type(5) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .get-started {
    padding-top: 35px;

    &__info {
      .btn-group {
        flex-direction: column;

        .btn, .btn-link {
          text-align: center;
          margin-right: 0;
          margin-bottom: 20px;
        }
        .btn {
          width: 100%;
        }
      }
    }
  }

  .hero {
    &:before {
      border-radius: 80% 80% 0 0/37% 37% 73% 73%;
    }
  }
}

@media screen and (max-width: 375px) {
  .tools {
    &__inner {
      &:before {
        border-radius: 100% 100% 50% 50% / 20% 20% 0 0;
      }
    }
  }
}
